#********************************************************************
# Adito wrapper configuration template completed by ant. 
# 
# more information on each properties on : 
# http://wrapper.tanukisoftware.org/doc/english/properties.html
#********************************************************************

wrapper.java.mainclass=com.adito.boot.Bootstrap
wrapper.java.additional.1=-Dorg.mortbay.http.Version.paranoid=true
wrapper.java.initmemory=64
wrapper.java.maxmemory=512

wrapper.logfile=logs/wrapper.log
wrapper.logfile.format=LPTM
wrapper.logfile.loglevel=INFO
wrapper.logfile.maxsize=0
wrapper.logfile.maxfiles=0

wrapper.syslog.loglevel=NONE

wrapper.console.title=Adito
wrapper.console.format=PM
wrapper.console.loglevel=INFO

wrapper.ntservice.name=Adito
wrapper.ntservice.displayname=Adito
wrapper.ntservice.description=Adito SSL VPN
wrapper.ntservice.dependency.1=
wrapper.ntservice.starttype=AUTO_START
wrapper.ntservice.interactive=false

#********************************************************************
# Next to this lines you must have these properties :
#
# wrapper.java.command
# wrapper.working.dir
# wrapper.java.library.path.1
# wrapper.java.classpath.1
#
# If not your file conf is wrong, see the ant script.
#********************************************************************

