/*

   WARNING - Please Do not change these styles lightly. They affect a *lot*.
   It may be more approriate for you to overide your individual page styles
   in pageStyles.css and wizardStyles.ss

*/

/* Dialog */

.dialog {	
	background-color: #e6e6e6;
    text-align: center;
	border: 1px solid #dcdcdc;
}

/* Dialog style (Content stretching) */

.dialog_content {	
	width: 100%;
	min-width: 100%;
	background-color: #e6e6e6;
    text-align: center;
	border: 1px solid #dcdcdc;
}

.dialog_border {	
	margin: 4px 16px 4px 16px;
}

/* Titled Dialog style */

.titled_dialog_content {
	table-layout: fixed;
	width: 100%;
	background-color: #e6e6e6;
	margin: 0;
	padding: 0;
    text-align: center;	
	border: 1px solid #dcdcdc;
}

.titled_dialog_content table.titled_dialog_table {	
	margin: 0 auto;
	text-align: center;
}

.titled_dialog_content td {
    font-family: Tahoma, Arial, Helvetica, sans-serif; 
}

.titled_dialog_content table {
	width: 100%;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}

.titled_dialog_content thead td {
	padding: 4px;
	background-color: #3D649E;
	color: white;
	font-weight: bold;
}

.titled_dialog_content tbody td {
}

.titled_dialog_content tfoot td {
	text-align: center;
}

/* Styles for categorised tables within dialogs */

.dialog_categorized_table_header {
	color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
}

.dialog_categorized_table_header td {
	color: black;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
}

.dialog_categorized_table_title {
	background-image: url(images/dialog-category.gif);
	background-repeat: no-repeat;
	background-position: left;
	padding: 2px 2px 2px 26px;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: 4px;
	text-decoration: none;
}

.dialog_categorized_table_row {
   	padding: 2px;
   	margin-left: 2px;
   	margin-top: 2px;

}

.dialog_categorized_table_row td {
   	padding: 2px;

}

.dialog_categorized_table {
    font-family: Tahoma, Arial, Helvetica, sans-serif; 
   	width: 100%;
}