/*

   WARNING - Please Do not change these styles lightly. They affect a *lot*.
   It may be more approriate for you to overide your individual page styles
   in pageStyles.css and wizardStyles.ss

*/


/* Global Layout Styles */

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 13px;
    border-width: 0px;
    background-color: white;
    color: black;
}

/* Main Layout Styles */

#layout_page {
	width:100%;
	height: 100%;
	min-width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
}

#layout_leftbar {
	height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-spacing: 0;
    vertical-align: top;
}

#layout_leftbar_inner {
	width: 100%;
	height: 100%;
}

#layout_leftbar_inner .frameContent {	
	height: 100%;
	border: 0px;
}

#layout_leftbar_inner .component_messageBox {	
	padding: 0;
	margin: 0;
	height: 100%;
}

#layout_main {
	text-align: left;
	height: 100%;
	vertical-align: top;
	margin: 0;
	padding: 8px 10px 0;
	width: 100%;
	z-index:5;
}

#layout_rightbar {
	height: 100%;
	padding: 0;
	margin: 0; 
	vertical-align: top;
}

#layout_topbar {
	padding: 0;
	margin: 0;
    width:100%;
}

#layout_center {
    border-spacing: 0;
	vertical-align: top;
	width:100%;
	height: 100%;
}

#layout_inner {
	height: 100%;
	width: 100%;
	border-spacing: 0;
	padding: 0;
	margin: 0; 
	border: none;	
}

.layout_row {
    border-spacing: 0;
	padding: 0;
	margin: 0;
}

div#layout_content { 
    font-family: Bitstream Vera San, Tahoma, Arial, Helvetica, sans-serif; 
	width: 100%;
	vertical-align: top;
}
